#meaning-index {
    .main-inner-item-aside {
        textarea {
            border: 0;
            font-size: 20px;
            min-height: 100%;
            border-radius: 0;
            color: #000;
            &:focus {
                border-color: 0;
            }
            &:hover {
                border: 0;
            }
        }
    }
    .main-inner-item-main {
        #showcase {
            background: #000;
            .line {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                .item {
                    flex: 1;
                    border: 1px solid #ccc;
                    display: inline-block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img {
                        max-width: 100%;
                    }
                    i {
                        display: none;
                    }
                    &.matched {
                        i {
                            position: absolute;
                            inset: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(0, 0, 0, 0.6);
                            color: #fff;
                            pointer-events: none;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
