#vocab-listen-index {
    .main-inner-item-main {
        #progress {
            height: 32px;
            position: relative;
            .ant-progress-outer {
                width: 100% !important;
                .ant-progress-bg-inner {
                    width: 100%;
                    height: 32px !important;
                    background-color: #52c41a;
                }
            }
        }
        #display {
            color: #fff;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            background: #c5a587;
            padding: 0 20px;
            position: relative;
            .img {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                img {
                    border-radius: 5px;
                    user-select: none;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .text {
                flex: 1;
                inset: 0;
                color: #000;
                font-weight: 700;
                font-size: 22px;
                line-height: 22px;
                pointer-events: none;
                word-break: break-word;
                display: flex;
                align-items: start;
                justify-content: center;
            }
            .mask {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #c5a587;
                &.invisible {
                    display: none;
                }
            }
        }
        #input {
            width: 100%;
            height: 152px;
            position: absolute;
            right: 0;
            bottom: 100px;
            background: #c5a587;
            #panel {
                width: 100%;
                height: 32px;
                display: flex;
                justify-content: space-between;
                .btn {
                    flex: 1;
                    border-top: 0;
                    border-left: 0;
                    border-radius: 0;
                    background: linear-gradient(to bottom, #888, #bbb, #888);
                    &:first-child {
                        border-top-left-radius: 5px;
                    }
                    &:last-child {
                        border-right: 0;
                        border-top-right-radius: 5px;
                    }
                }
            }
            textarea {
                border: 4px solid #ccc;
                border-radius: 0;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                color: #000;
                height: 120px;
                width: 100%;
                padding: 10px 20px;
                font-size: 26px;
                line-height: 30px;
                box-sizing: border-box;
                resize: none;
            }
        }
    }
}
