#video-settings {
    .sec {
        display: flex;
        justify-content: space-between;
        &.upload {
            .ant-upload-wrapper {
                flex: 1;
                .ant-upload-select {
                    width: 100%;
                    .ant-btn {
                        width: 100% !important;
                    }
                }
            }
            .ant-btn {
                justify-content: start;
            }
        }
        .ant-input-group-addon {
            border-radius: 0;
        }
    }
}
