#script {
    .script-panel {
        width: 100%;
        margin-bottom: 4px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        .ant-btn,
        .ant-input-number {
            flex: 1;
            border-radius: 0;
            background-color: #ccc;
        }
        &.fixed {
            position: fixed;
            left: 100;
            top: 40px;
            width: 800px !important;
            z-index: 997;
        }
    }
    .script-meta {
        width: 100%;
        margin-bottom: 4px;
        .ant-input {
            border-radius: 0;
            font-size: 12px;
            border-bottom: 0;
        }
    }
    .ant-tree {
        border-radius: 0;
        background-color: rgb(32, 32, 36);
        .ant-tree-title {
            width: 100%;
            display: flex;
        }
        .ant-tree-treenode {
            width: 100%;
            .ant-tree-switcher {
                color: #fff;
            }
            .ant-tree-node-content-wrapper {
                flex: 1;
                padding: 0;
                background-color: rgb(32, 32, 36);
                .ant-tree-title {
                    color: #fff;
                    width: 100%;
                }
            }
            .ant-select-selector {
                border-radius: 0;
                font-size: 12px;
            }
        }
    }
    .ant-mentions {
        .rc-textarea {
            padding: 0px 7px;
            height: 24px;
        }
    }
}

.ant-drawer {
    .vocab-panel {
        textarea {
            border-radius: 0;
            border: 1px solid #ccc;
            min-height: 100px !important;
            resize: none;
            &:focus {
                border-color: 0;
            }
        }
        .text-image-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            .text {
                flex: 1;
            }
            .image {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                height: 32px;
                width: 32px;
            }
            .ant-upload-wrapper {
                .ant-btn {
                    border-radius: 0;
                    width: 32px;
                    height: 32px;
                    background-color: #ccc;
                    &:hover {
                        border: 0;
                        color: rgba(0, 0, 0, 0.88);
                    }
                }
            }
        }
        .audio-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            .play {
                flex: 1;
                border-radius: 0;
            }
            .gen {
                border-radius: 0;
                border-left: 0;
                border-right: 0;
            }
            .ant-upload-wrapper {
                .ant-btn {
                    border-radius: 0;
                    width: 32px;
                    height: 32px;
                    background-color: #ccc;
                    &:hover {
                        border: 0;
                        color: rgba(0, 0, 0, 0.88);
                    }
                }
            }
        }
        .btn {
            display: flex;
            button {
                flex: 1;
                padding: 20px 0;
                border-radius: 0;
                background-color: #ccc;
            }
        }
    }
}
