#video-script-editor-lines {
    #paste {
        textarea {
            border-radius: 0;
            border: 1px solid #ccc;
            min-height: 100px !important;
            resize: none;
        }
    }
    #paragraph {
        line-height: 22px;
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
    }
    #submit {
        display: flex;
        margin-top: 20px;
        .ant-btn {
            flex: 1;
            padding: 20px 0;
            border-radius: 0;
            background-color: #ccc;
        }
    }
}
