#video-script-audioClips {
    .pronunciation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        .ant-btn {
            flex: 1;
            height: 40px;
            text-align: left;
            border-radius: 0;
            overflow: hidden;
            padding: 0 12px;
            justify-content: flex-start;
        }
    }
    .clip-time {
        display: flex;
        margin-top: 10px;
        .ant-input {
            padding: 8px 10px;
            border-radius: 0;
        }
        .ant-btn {
            flex: 0 0 40px;
            height: 40px;
            border-left: 0;
            border-radius: 0;
        }
    }
    .clip-submit {
        display: flex;
        margin-top: 20px;
        button {
            flex: 1;
            padding: 20px 0;
            border-radius: 0;
            background-color: #ccc;
        }
    }
}
