#script {
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        line-height: 40px;
        color: #fff;
        margin: 10px 16px;
    }
    .scene {
        background: #666;
        padding: 10px 0 0;
        margin: 10px 0;
        &:last-of-type {
            margin: 0;
        }
        h2 {
            text-align: center;
            font-size: 14px;
            font-style: italic;
            line-height: 20px;
            color: #ccc;
            margin: 0px 10px;
        }
        p {
            border-top: 1px dotted #ccc;
            margin: 0;
            padding: 6px 10px;
            color: #fff;
            font-size: 16px;
            line-height: 28px;
            &:first-of-type {
                border-top: 0;
            }
            &.indent {
                text-indent: 30px;
            }
            .role {
                font-style: normal;
                font-weight: 900;
                color: #ccc;
            }
        }
        ul {
            border-top: 1px dotted #ccc;
            margin: 0;
            padding: 6px 10px;
            color: #fff;
            font-size: 14px;
            line-height: 28px;
            &.matching {
                color: rgb(252, 221, 92);
            }
            .role {
                font-style: normal;
                font-weight: 900;
                color: #ccc;
            }
        }
        .point {
            &.matched {
                color: rgb(252, 221, 92);
                font-weight: 900;
            }
            &.matching {
                color: rgb(252, 221, 92);
            }
            &:first-child {
                padding: 0;
            }
        }
        span.point {
            padding: 0 4px;
        }
    }
}
