#pronunciation-symbols {
    border-top: 1px solid #ccc;
    .line {
        display: flex;
        .ant-typography {
            flex: 1;
            padding: 6px 0;
            text-align: center;
            margin-bottom: 0;
            & + .ant-typography {
                border: 1px solid #ccc;
                border-top: 0;
                border-left: 0;
            }
            &:first-of-type {
                border: 1px solid #ccc;
                border-top: 0;
            }
        }
    }
}
