#play-index {
    #play-panel {
        width: 100%;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #202024;
        display: flex;
        justify-content: space-between;
    }
    #article {
        h1 {
            text-align: center;
            font-size: 16px;
            font-weight: 900;
            line-height: 40px;
            color: #fff;
            margin: 10px 16px;
        }
        .scene {
            background: #666;
            padding: 6px 0;
            margin: 12px 10px;
            h2 {
                text-align: center;
                font-size: 14px;
                font-weight: 900;
                line-height: 20px;
                color: #fff;
                margin: 10px 16px;
            }
        }
        .p {
            border: 1px dotted #fff;
            margin: 12px 10px;
            padding: 2px 6px;
            color: #fff;
            font-size: 14px;
            line-height: 28px;
            font-weight: 300;
            &:nth-child(2) {
                margin-top: 0;
            }
            .role {
                font-style: normal;
                font-weight: 900;
            }
            .point {
                padding: 0 4px;
                &.active {
                    color: rgb(252, 221, 92);
                }
                &:first-child {
                    padding: 0;
                }
            }
            ul {
                font-style: normal;
                font-size: 14px;
            }
        }
        footer {
            height: 100%;
            .vocabs,
            .notes {
                color: #fff;
                line-height: 28px;
                padding: 10px;
                margin-bottom: 10px;
                .title {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    font-weight: 900;
                    font-size: 14px;
                    color: #fff;
                    &:before,
                    &:after {
                        position: relative;
                        width: 50%;
                        border-block-start: 1px dotted #fff;
                        border-block-end: 0;
                        transform: translateY(50%);
                        content: "";
                    }
                }
                .vocab-item {
                    cursor: pointer;
                    &.active {
                        color: rgb(252, 221, 92);
                    }
                    .item-index {
                        font-weight: 900;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
    #input-panel {
        width: 100%;
        height: 132px;
        position: absolute;
        left: 0;
        bottom: 0;
        .input-panel-bar {
            width: 100%;
            height: 32px;
            background-color: #202024;
            display: flex;
            justify-content: space-between;
            .btn {
                flex: 1;
                border-radius: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                background-color: #ccc;
                border-left: 1px solid #eee;
                &:first-child {
                    border: 0;
                }
            }
        }
        .input-panel-area {
            min-height: 100px;
            border-radius: 0;
            color: #000;
        }
    }
    #hidden-elems {
        display: none;
    }
}
