.ant-select-selector {
    border-radius: 0 !important;
    background-color: #ccc !important;
}
.ant-input-number {
    border-radius: 0 !important;
}
.preview-computer {
    max-width: 1200px;
}
.preview-mobile {
    max-width: 420px;
}
