#video-settings {
    .main-inner-item-main {
        .sec {
            display: flex;
            justify-content: space-between;
            .sec-item {
                flex: 1;
                &.ant-upload-wrapper {
                    .ant-upload-select {
                        width: 100%;
                        .ant-btn {
                            width: 100% !important;
                        }
                    }
                }
                .ant-btn {
                    justify-content: start;
                    width: 100%;
                    border-top: 0;
                    border-left: 0;
                    border-radius: 0;
                    background-color: #888;
                }
                .ant-input-group-wrapper {
                    flex: 1;
                    border-radius: 0;
                    background-color: #ccc;
                    .ant-input-group-addon {
                        border-radius: 0;
                    }
                }
                .ant-input {
                    border-radius: 0;
                }
            }
        }
    }
}
