#script {
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        line-height: 40px;
        color: #ccc;
        background: #000;
        padding: 0 20px;
    }
    .scene {
        color: #000;
        background: #ccc;
        padding: 20px 0;
        border-top: 2px dotted;
        &:nth-child(2) {
            border-top: 0;
        }
        h2 {
            text-align: center;
            font-size: 16px;
            font-style: normal;
            line-height: 20px;
            color: #000;
            margin: 0 20px 10px;
        }
        p {
            margin: 0;
            padding: 4px 26px;
            color: #000;
            font-size: 16px;
            line-height: 30px;
            &:first-of-type {
                border-top: 0;
            }
            &.indent {
                text-indent: 30px;
            }
            .role {
                font-style: normal;
                font-weight: 700;
                color: #000;
            }
        }
        ul {
            margin: 0;
            padding: 6px 26px;
            color: #000;
            font-size: 14px;
            line-height: 28px;
            .role {
                font-style: normal;
                font-weight: 700;
                color: #000;
            }
        }
        .point {
            &.matched {
                font-weight: 500;
            }
            &.matching {
                font-weight: 700;
                color: #499fe8;
            }
            &:first-child {
                padding: 0;
            }
            .input-item {
                color: #9b0900;
                cursor: pointer;
                font-weight: 500;
            }
        }
        span.point {
            padding: 0 4px;
        }
    }
    &.cn {
        .scene {
            p {
                padding: 4px 26px;
                font-size: 14px;
            }
        }
    }
}
