#video-script-editor-roles {
    .role-temp {
        display: flex;
        height: 50px;
        margin-bottom: 30px;
        .ant-input {
            flex: 1;
            height: 100%;
            border-radius: 0;
            padding: 8px 10px;
        }
        .ant-btn {
            height: 100%;
            width: 80px;
            border-radius: 0;
            border-left: 0;
        }
    }
    .roles-item {
        display: flex;
        height: 40px;
        .ant-input {
            flex: 1;
            height: 100%;
            border-radius: 0;
            padding: 8px 10px;
        }
        .ant-btn {
            width: 80px;
            height: 100%;
            border-radius: 0;
            border-left: 0;
        }
        & + .roles-item {
            .ant-input {
                border-top: 0;
            }
            .ant-btn {
                border-top: 0;
            }
        }
    }
}
