#script-paragraphs {
    .paragraph {
        margin-top: 4px;
        .meta {
            width: 100%;
            display: flex;
            margin-bottom: 4px;
            .ant-select {
                flex: 1;
                border-radius: 0;
            }
            .ant-select-selector {
                border-radius: 0;
                font-size: 12px;
                background: #ccc;
            }
        }
        .sentence {
            width: 100%;
            display: flex;
            margin-bottom: 4px;
            .time {
                flex: 0 0 142px;
                row-gap: 4px;
                overflow: hidden;
                .time-inner {
                    row-gap: 0px;
                    column-gap: 0px;
                    overflow: hidden;
                    .ant-input {
                        border-radius: 0;
                    }
                    .ant-btn {
                        height: 24px;
                        width: 24px;
                        border-radius: 0;
                    }
                }
            }
            .text {
                flex: 1;
                font-size: 12px;
                min-height: 52px;
                margin-left: 4px;
                border-radius: 0;
                color: #000;
            }
        }
    }
}