#article {
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        line-height: 40px;
        color: #fff;
        margin: 10px 16px;
    }
    .scene {
        background: #666;
        padding: 6px 0;
        margin-bottom: 10px;
        h2 {
            text-align: center;
            font-size: 14px;
            font-weight: 900;
            line-height: 20px;
            color: #fff;
            margin: 10px 16px;
        }
    }
    .p {
        border: 1px dotted #fff;
        margin: 12px 10px;
        padding: 2px 6px;
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
        &:nth-child(2) {
            margin-top: 0;
        }
        .role {
            font-style: normal;
            font-weight: 900;
        }
        .point {
            padding: 0 4px;
            &.active {
                color: rgb(252, 221, 92);
            }
            &:first-child {
                padding: 0;
            }
        }
        ul {
            font-style: normal;
            font-size: 14px;
        }
    }
    footer {
        height: 100%;
        .vocabs,
        .notes {
            color: #fff;
            line-height: 28px;
            padding: 10px;
            margin-bottom: 10px;
            .title {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                font-weight: 900;
                font-size: 14px;
                color: #fff;
                &:before,
                &:after {
                    position: relative;
                    width: 50%;
                    border-block-start: 1px dotted #fff;
                    border-block-end: 0;
                    transform: translateY(50%);
                    content: "";
                }
            }
            .item-index {
                font-weight: 900;
                margin-right: 4px;
            }
        }
    }
}
