#script-script {
    .ant-tree {
        border-radius: 0;
        background-color: rgb(32, 32, 36);
        .ant-tree-title {
            width: 100%;
            display: flex;
        }
        .ant-tree-treenode {
            width: 100%;
            .ant-tree-switcher {
                color: #fff;
            }
            .ant-tree-node-content-wrapper {
                flex: 1;
                padding: 0;
                background-color: rgb(32, 32, 36);
                .ant-tree-title {
                    color: #fff;
                    width: 100%;
                }
            }
            .ant-select-selector {
                border-radius: 0;
                font-size: 12px;
            }
        }
    }
    .ant-mentions {
        .rc-textarea {
            padding: 0px 7px;
            height: 24px;
        }
    }
    .fixed {
        position: fixed;
        left: 100;
        top: 0;
        width: 800px !important;
        z-index: 999;
    }
}
