@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=ZCOOL+QingKe+HuangYou&display=swap");

#clip {
    width: 1080px;
    height: 1920px;
    font-size: 50px;
    background-color: rgba(0, 42, 81) !important;
    overflow: hidden;
    position: relative;
    #title {
        height: 340px;
        color: #fff;
        font-size: 2em;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-shadow: -2px -2px 0 rgb(220, 23, 53), 2px -2px 0 rgb(220, 23, 53), -2px 2px 10px rgb(220, 23, 53), 6px 6px 0 rgb(220, 23, 53);
        .en {
            font-family: "Bebas Neue";
        }
        .cn {
            font-family: "ZCOOL QingKe HuangYou";
        }
    }
    .line {
        border: 2px solid #fff;
    }
}
