#listen-index {
    .main-inner-item-main {
        #panel {
            width: 100%;
            height: 32px;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #202024;
            display: flex;
            justify-content: space-between;
            .btn {
                flex: 1;
                border-top: 0;
                border-left: 0;
                border-radius: 0;
                background: linear-gradient(to bottom, #888, #bbb, #888);
            }
        }
        #script,
        #script-answer {
            height: 100%;
            h1 {
                text-align: center;
                font-size: 18px;
                font-weight: 900;
                line-height: 32px;
                padding: 26px 20px 0;
                background: #ccc;
            }
            .scene {
                color: #000;
                background: #ccc;
                padding: 30px 0;
                border-top: 2px dotted;
                &:nth-child(2) {
                    border-top: 0;
                }
                h2 {
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    line-height: 20px;
                    color: #000;
                    margin: 0 20px 10px;
                }
                p {
                    margin: 0;
                    padding: 0 26px;
                    color: #000;
                    font-size: 18px;
                    line-height: 34px;
                    &:first-of-type {
                        border-top: 0;
                    }
                    &.indent {
                        text-indent: 30px;
                    }
                    .role {
                        font-style: normal;
                        font-weight: 500;
                        color: #000;
                    }
                    .ant-input {
                        font-size: 18px;
                        display: inline;
                        text-align: center;
                        border-radius: 0;
                        margin: 0;
                        padding: 0px 4px;
                        background: #fff;
                        color: #000;
                        min-width: 40px;
                        &.visible {
                            display: inline;
                        }
                        &.invisible {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
