#speaking-index {
    .article-panel {
        width: 100%;
        height: 32px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #202024;
        display: flex;
        justify-content: space-between;
        .btn {
            flex: 1;
            border-radius: 0;
            background-color: #ccc;
        }
    }
    .speaking-panel {
        width: 100%;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #202024;
        display: flex;
        justify-content: space-between;
        .record-btn {
            flex: 1;
            border-radius: 0;
            background-color: #ccc;
            &.started {
                color: red;
            }
        }
    }
    .speaking-textarea {
        color: #fff;
        .matched {
            color: green;
        }
    }
}
