#common-editor-grammars-index {
    textarea {
        border-radius: 0;
        color: #000;
        min-height: 100%;
        border: 1px solid #ccc;
    }
    .list {
        color: #000;
        .item {
            margin: 0;
            padding: 6px 10px;
            border-top: 1px dotted #000;
            line-height: 26px;

            &.activated {
                font-style: italic;
            }
            &.active {
                font-weight: 900;
            }
            &:nth-child(1) {
                border-top: 0;
            }
            .index {
                font-weight: 900;
                font-style: normal;
                margin-right: 4px;
            }
        }
    }
}
