#nav {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    padding-left: 320px;
    box-sizing: border-box;
    background-color: #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &.folding {
        padding-left: 50px;
    }
    .navs {
        flex: 1;
        display: flex;
        justify-content: center;
        height: 100%;
        .item {
            flex: 0 0 100px;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            &.active {
                .ant-btn {
                    background: #d3e3fd;
                    color: #0842a0;
                }
            }
            .ant-btn {
                width: 100%;
                height: 100%;
                border: 0;
                font-size: 18px;
                border-radius: 5px;
                background-color: #ccc;
                &:hover {
                    color: #eee;
                    background-color: #aaa;
                }
            }
        }
    }
}
